.App {
  text-align: center;
  background-color: wheat;
  /* display: flex;
  flex-direction: column; */
}

.head {
  padding: 5px;
  background-color: #282c34;
  color: orange;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#usname{
  color: white;
}

.search-bar{
  width: 60vw;
}

.sList{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  margin-top: 5px;

}

.tiSt{
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  margin-left: 10px;

}
audio{
  margin-left: 5px;
}

#ST{
  margin: 0;
  padding: 0;
}

#del-btn{
  margin-left: 10px;
}
button{
  background-color: lightcoral;
}

button:hover{
  background-color: cyan;
}

